.container{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    overflow: hidden;
}

.min-height {
    min-height: 75%;
    display: block;
}

.start{
    justify-content: flex-start;
    margin: 0;
}

.column{
    flex-direction: column;
    justify-content: flex-start;
}
